#container1 {
    width: 70%;
    margin: 100px auto;
    margin-top: 40px;
}

#container2 {
    width: 70%;
    margin: 100px auto;
}

#container3 {
    width: 70%;
    margin: 100px auto;
}

#container4 {
    width: 70%;
    margin: 100px auto;
}

#container5 {
    width: 70%;
    margin: 100px auto;
}

#container6 {
    width: 70%;
    margin: 100px auto;
}

#container7 {
    width: 70%;
    margin: 100px auto;
}

h1{
    text-align: center;
    text-decoration: wavy;
    font-weight: 900;
    margin: 40px;
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}